<!-- main app container -->
<div class="card m-3">
  <!-- headline to translate, e.g. instructions.headline as the key -->
  <h5 class="card-header" translate>instructions.headline</h5>
  <div class="card-body">
    <ul>
      <!-- Move the instructions to the i18n JSON files and add the translation keys here -->
      <li><h6 translate>instructions.instruction1</h6></li>
      <li><h6 translate>instructions.instruction2</h6></li>
      <li><h6 translate>instructions.instruction3</h6>
    </ul>
  </div>
</div>

<div class="card m-3">
  <!-- Another headline to translate; e.g. language.headline -->
  <h5 class="card-header">{{'Language Selection' | translate}}</h5>
  <div class="card-body flex-wrapper">
    <select [(ngModel)]='selectedLanguage' class="form-control language-select" >
      <option value="en" translate>language.langEN</option>
      <option value="de" translate>language.langDE</option>
      <option value="hr" translate>language.langHR</option>
    </select>
    <div class="text-center">
      <button (click)="onUpdate()" class="btn btn-primary mr-1" translate>button.label</button>
    </div>
  </div>
</div>
